<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>US Map</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$.ajax({
				url: "http://localhost:5000/states",
				datatype: "JSON",
				type: "Get",
				success: function (data) {
					let d = $.parseJSON(data);
					for (let entry of d) {
						let opt = new Option(entry['name']);
						$("#op1").append(opt);
					}
				}
			});
		});

		function trigger(selected) {
			let url = '"http://localhost:5000/plot/' + selected.value + '"'
			console.log(url)
		}
	</script>
</head>
<body>
	<div>
		<label>Select State:</label>
	</div>
	<!-- <div>
		<select class="form-control" id="op1" onchange="trigger(this)">
			<option selected="selected">Select</option>
		</select>
	</div> -->
	<img src="../mc_states/Alabama_mc.png">
	<img src="../mc_states/Alaska_mc.png">
	<img src="../mc_states/Arizona_mc.png">
	<img src="../mc_states/Arkansas_mc.png">
	<img src="../mc_states/California_mc.png">
	<img src="../mc_states/Colorado_mc.png">
	<img src="../mc_states/Connecticut_mc.png">
	<img src="../mc_states/Delaware_mc.png">
	<img src="../mc_states/District of Columbia_mc.png">
	<img src="../mc_states/Florida_mc.png">
	<img src="../mc_states/Georgia_mc.png">
	<img src="../mc_states/Hawaii_mc.png">
	<img src="../mc_states/Idaho_mc.png">
	<img src="../mc_states/Illinois_mc.png">
	<img src="../mc_states/Indiana_mc.png">
	<img src="../mc_states/Iowa_mc.png">
	<img src="../mc_states/Kansas_mc.png">
	<img src="../mc_states/Kentucky_mc.png">
	<img src="../mc_states/Louisiana_mc.png">
	<img src="../mc_states/Maine_mc.png">
	<img src="../mc_states/Maryland_mc.png">
	<img src="../mc_states/Massachusetts_mc.png">
	<img src="../mc_states/Michigan_mc.png">
	<img src="../mc_states/Minnesota_mc.png">
	<img src="../mc_states/Mississippi_mc.png">
	<img src="../mc_states/Missouri_mc.png">
	<img src="../mc_states/Montana_mc.png">
	<img src="../mc_states/Nebraska_mc.png">
	<img src="../mc_states/Nevada_mc.png">
	<img src="../mc_states/New Hampshire_mc.png">
	<img src="../mc_states/New Jersey_mc.png">
	<img src="../mc_states/New Mexico_mc.png">
	<img src="../mc_states/New York_mc.png">
	<img src="../mc_states/North Carolina_mc.png">
	<img src="../mc_states/North Dakota_mc.png">
	<img src="../mc_states/Ohio_mc.png">
	<img src="../mc_states/Oklahoma_mc.png">
	<img src="../mc_states/Oregon_mc.png">
	<img src="../mc_states/Pennsylvania_mc.png">
	<img src="../mc_states/Puerto Rico_mc.png">
	<img src="../mc_states/Rhode Island_mc.png">
	<img src="../mc_states/South Carolina_mc.png">
	<img src="../mc_states/South Dakota_mc.png">
	<img src="../mc_states/Tennessee_mc.png">
	<img src="../mc_states/Texas_mc.png">
	<img src="../mc_states/Utah_mc.png">
	<img src="../mc_states/Vermont_mc.png">
	<img src="../mc_states/Virginia_mc.png">
	<img src="../mc_states/Washington_mc.png">
	<img src="../mc_states/West Virginia_mc.png">
	<img src="../mc_states/Wisconsin_mc.png">
	<img src="../mc_states/Wyoming_mc.png">
</body>
</html>