<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>US Map</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$.ajax({
				url: "http://localhost:5000/states",
				datatype: "JSON",
				type: "Get",
				success: function (data) {
					let d = $.parseJSON(data);
					for (let entry of d) {
						let opt = new Option(entry['name']);
						$("#op1").append(opt);
					}
				}
			});
		});

		function trigger(selected) {
			let url = '"http://localhost:5000/plot/' + selected.value + '"'
			console.log(url)
			$("a").prop("href", url)
		}
	</script>
</head>
<body>
	<div>
		<label>Select State:</label>
	</div>
	<div>
		<select class="form-control" id="op1" onchange="trigger(this)">
			<option selected="selected">Select</option>
		</select>
	</div>
	<a href="">Link to Figure</a>
</body>
</html>